* {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 7rem;
}

body {
  background-image: url(img/banner-mancha.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 120%;
  background-position-y: -150px;
}

nav {
  margin-left: 7%;
}

.cont-titulo {
  display: block;
  margin: 4% 8% 1.25rem;
}

.cont-titulo h1 {
  line-height: 6.475rem;
  font-weight: 700;
}

.cont-texto-sec {
  margin: 1.25rem 8%;
}

.text-parrafo {
  margin: 1.25rem 8%;
  width: 40%;
}

.cont-formulario {
  margin: 1.25rem 8%;
  width: 80%;
  height: 60px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cont-formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont-formulario form input[type=email] {
  background: #efefef;
  height: 40px;
  width: 250px;
  border-radius: 15px 0 0 15px;
  border: 1px solid #d3d3d3;
}

.cont-formulario form input[type=email]::-webkit-input-placeholder {
  color: #bcbcbc;
  padding: 5px 5px 5px 15px;
}

.cont-formulario form input[type=email]:-ms-input-placeholder {
  color: #bcbcbc;
  padding: 5px 5px 5px 15px;
}

.cont-formulario form input[type=email]::-ms-input-placeholder {
  color: #bcbcbc;
  padding: 5px 5px 5px 15px;
}

.cont-formulario form input[type=email]::placeholder {
  color: #bcbcbc;
  padding: 5px 5px 5px 15px;
}

.cont-formulario form button {
  background: #d48515;
  border: 1px solid #d48515;
  height: 40px;
  width: 150px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 15px 15px 0;
  color: #fff;
}

span {
  color: #004ca1;
  font-size: 7rem;
}

.cont-video {
  position: absolute;
  width: 450px;
  height: 280px;
  top: 24%;
  border-radius: 30px;
  left: 55%;
  z-index: 99;
  background: #fff;
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 16px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

li a i {
  font-size: 4.5rem;
}

footer {
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  list-style: none;
  margin: 0 6rem;
}

footer ul li i {
  color: #d3d3d3;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
  color: #d3d3d3;
}

footer ul li i:hover {
  -webkit-transform: scale(2) rotate(360deg);
          transform: scale(2) rotate(360deg);
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
  color: #004ca1;
}

@media screen and (max-width: 1000px) {
  body {
    background-position-x: 500px;
    background-position-y: 0;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .cont-titulo h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 4rem;
  }
  .cont-titulo h1 span {
    font-size: 4rem;
  }
  .cont-texto-sec {
    text-align: center;
  }
  .text-parrafo {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .cont-formulario {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0;
  }
  .cont-video {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  footer ul li {
    margin: 0 3rem;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-position-x: 300px;
    background-position-y: 0px;
  }
  footer ul li {
    margin: 0 1rem;
  }
  footer ul li i {
    font-size: 3rem;
  }
  .cont-video {
    width: 350px;
    height: 200px;
  }
  .cont-formulario form input[type=email] {
    width: 180px;
  }
  .cont-formulario form button {
    width: 130px;
  }
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */